
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 900px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  // color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
}
a {
  display: inline-block;
}
a:focus,
a:active {
  outline: none;
}
body {
  font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
* {
 font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
s,i{
  font-style: normal;
  text-decoration: none;
}
ul,ol{
  list-style-type: none;
}
img {
  cursor: pointer;
  vertical-align: middle;
}

/* Utils
------------------------------ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pr{
  position: relative;
}
.pa{
  position:absolute;
}
.text-r{
  text-align: right;
}
.text-l{
  text-align: left;
}
.text-c{
  text-align: center;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.mr_10{margin-right: 10px;}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}

/* Animation
------------------------------ */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Layout
------------------------------ */
.site-wrapper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .site-wrapper-content{
    display: flex;
    .site-content-box{
      position: absolute;
      left: 220px;
      right: 0;
      top: 0;
      bottom: 10px;
      -webkit-transition: left .3s ease-in-out;
      transition: left .3s ease-in-out;
      background: #fff;
      &.site-content-box-footer{
        bottom: 0px;
      }
      &.position-left {
        left: 159px;
      }
      &.position-collapse-left {
        left: 65px;
      }
      .site-content-main{
        padding: 0px 10px 0 10px;
        background: #f2f2f2;
        position: absolute;
        left: 0;
        top: 0px;
        right: 0;
        bottom: 0;
        .page-content-main{
          background: #fff;
          padding: 20px;
          width: 100%;
          height: 100%;
          overflow-y:auto;
        }
      }
    }
  }
}

/* Sidebar fold
------------------------------ */
.siderbar-wrapper-container {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  overflow: hidden;
  width:162px;
  .el-menu {
    text-align: left;
    // background-color: #2968a30c;
  }
  .el-menu>ul{
    height:100%
  }

}
.menu-bar-width {
  //width: 159px;
  //border-right: 1px solid #eeeeee;
  height: 100%;
  overflow: auto;
}
.menu-bar-collapse-width {
  width: 65px;
  height: 100%;
}

/* Tabs fold
------------------------------ */
.tab-wrapper-container{
  display: flex;
  .tabs {
    padding-left: 0px;
    padding-right: 2px;
    z-index: 1020;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background: rgb(255, 253, 255);
    border-color: rgba(200, 206, 206, 0.5);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 95%;
  }
  .el-tabs--card>.el-tabs__header{

    .is-active{

    }
    .el-tabs__nav{

    }
  }
  .tabs-tools {
    z-index: 1020;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    border-color: rgba(200, 206, 206, 0.5);
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    background: rgba(255, 255, 255, 1);
    width: 5%;
    text-align: center;
  }
  .tabs-tools:hover {
    background: rgba(200, 206, 206, 1);
  }
  .main-content {
    position: absolute;
    top: 45px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding: 5px;
  }
  .position-collapse-left {
    left: 65px;
  }
}
.tab-wrapper-container-hide{
  display: none;
}

/* Header fold
------------------------------ */

.header-wrapper-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1030;
  // height: 60px;
  border-color: rgba(180, 190, 190, 0.8);
  border-left-width: 1px;
  border-left-style: solid;
  width:100%;
  .el-menu{
    background: none;
  }
  .el-menu-item:hover{
    background: none !important;
    color: none !important;
  }
  .fan-font{
    font-size: 18px;
  }
  .logo {
    line-height: 60px;
    cursor:pointer;
    display:flex;
    align-items:center;
    img {
      max-width: 132px;
      border-radius: 0px;
      margin: 10px 13px 10px 12px;
      display: block;
    }
    div {
      font-size: 18px;
      color: white;
      text-align: center;
      padding-left: 10px;
      font-weight: bold;
    }
  }
  .hamburg, .navbar, .logo {
    float: left;
  }
  .header-wrapper-left{
    float: left;
    display: flex;
    align-items: center;
  }
  .hamburg{ margin-right: 20px;margin-left: 10px;}
  .btn-bell-badge{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
  .toolbar {
    float: right;
  }
  .lang-item {
    font-size: 16px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
  }
  .lang-item:hover {
    font-size: 18px;
  }
  .user-info {
    font-size: 14px;
    cursor: pointer;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 5px 5px 10px 0px;
    }
  }
  .badge {
    line-height: 18px;
  }
  .position-left {
    left: 0px;
  }
  .position-collapse-left {
    left: 0px;
  }
  .set-panel-wrapper{
    position: fixed;
    right: 0;
    top:60px;
    bottom:0;
    background: #fff;
    width: 350px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    .set-panel-hearder{
      height: 42px;
      line-height: 42px;
      border-bottom: 1px solid #f6f6f6;
      text-align: left;
      box-sizing: border-box;
      text-indent: 10px;
      font-size: 14px;
    }
    .set-panel-body{
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          border-bottom: 1px solid #f6f6f6;

        }
        .theme-box{
          padding-left: 15px;
          padding-top: 20px;
          margin-bottom: 10px;

          .theme-box-li{
            display: inline-block;
            margin: 0 6px 15px 0;
            padding: 4px;
            border: 1px solid #fff;
            img{
              width: 80px;
              height: 50px;
              border: 1px solid #f2f2f2;
              background: #F2F2F2;
              cursor: pointer;
            }
          }
        }
        .tab-switch-form{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 20px;
          &>div{
            width: 50%;
          }
          .set-panel-switch{
            .el-switch__label{
              position: absolute;
              display: none;
              color: #fff;
              &.is-active{

              }
              *{
                font-size: 12px;
              }
            }
            /*打开时文字位置设置*/
            .el-switch__label--right {
              z-index: 1;
              left: 0px;
            }
            /*关闭时文字位置设置*/
            .el-switch__label--left {
              z-index: 1;
              left: 24px;
              color: #fff;
            }
            .el-switch__label.is-active {
              display: block;
            }
            .el-switch__core,
            .el-switch__label {
              width: 57px !important;
              height: 24px;
              border-radius: 12px;
              line-height: 24px;
            }
            .el-switch__core:after{
              top:3px;
            }

          }
          .switch-label{
            height: 38px;
            line-height: 38px;
            padding-left: 10px;
            color: #333333;
            font-size: 14px;
          }
        }
      }
    }
  }
}
.header-wrapper-container-hide{
  display: none;
}

/* Footer fold
------------------------------ */

.footer-wrapper-container{
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  transition: all .3s;
  color: #666;
  border-top: 1px solid #eee;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  padding: 0 15px;
  font-size: 14px;
  text-align: center;
}
.footer-wrapper-container-hide{
  display: none;
}
.footer-position-left{
  left:220px
}
.footer-position-collapse-left{
  left:65px
}

.breadcrumb-wrapper-container{
  height: 40px;
  line-height: 40px !important;
  padding: 0 10px;
}

/* pagination fold\
------------------------------ */
.pagination-tool-wrapper{
  height: 40px;
  line-height: 40px;
}



@media screen and (max-width: 1000px) {
  body,
  html,
  #app,
  .wrapper {
    width:1000px;

  }
  .header-wrapper-left .navbar{
    display:none;
  }
}

.el-input__inner{
  border-color: #d7dae1!important;
  height: 40px!important;
  line-height: 40px!important;
}
.inputClass {
  input{
    height: 40px!important;
    line-height: 40px!important;
    font-size: 14px;
    padding-left: 45px!important;
  }
  .el-icon-search{
    color:#84878e!important;
  }
}
.inputClass1 {
  input {
    height: 40px !important;
    line-height: 40px !important;
    font-size: 14px;
    padding-left: 75px !important;
  }

  .el-icon-search {
    color: #84878e !important;
  }
}
.inputClass-pd {
  @extend .inputClass;
  input {
    padding-left: 80px !important;
  }
}
.inputClassPl {
    margin-bottom: 10px;
  input{
    height: 40px!important;
    line-height: 40px!important;
    font-size: 14px;
  }
}
body .el-table tr{
  height: 41px;
  line-height: 41px;
  font-size: 14px;
}
body .el-table th{
  color:#292a2d;
  font-size: 14px;
  font-weight: normal;
}
.site-wrapper-container{background: #f4f8f9;}
.overShow{
  overflow:hidden; //超出的文本隐藏
  text-overflow:ellipsis; //溢出用省略号显示
  white-space:nowrap; //溢出不换行
}
// 超出文本，显示两行
.overShow2 {
  overflow:hidden!important;
  text-overflow:ellipsis!important;
  display:-webkit-box;
  box-orient:vertical!important;
  -webkit-box-orient:vertical!important;
  line-clamp:2!important;
  -webkit-line-clamp:2!important;
}
.commonColor{
  color: #a523c2;
}
.warnColor{
  color: #f18e00;
}
.disableColor{
  color: #54565b;
}
.lineColor {
  color: #898a8d;
}
.btn-refresh{
  border-color: #a523c2 !important;
}
.commonColorBg{
  background-color: #a523c2 !important;
}
.search_icon{
  width: 40px;
  height: 40px;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  border-right: 1px solid #d7dae1;
}
.search_icon1{border:none;}
.statusColor{
  color: #f18e00;
}
.mark{
  color:#f31887;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 14px;
}


.el-dialog__title{
  font-size: 16px!important;
  color:#292a2d!important;
}

.addAndEdit,.editPage {
  .el-upload__tip,.el-upload-list__item-name{color: #54565b!important;}
  .el-dialog__header{
    padding-bottom: 20px!important;
  }
  .el-dialog__body{
    padding:20px 20px 15px 20px!important;
  }
  .item input{
    width:345px!important;
    height: 40px!important;
  }
  .itemInputWidh input {
    width:100% !important;
  }
  .el-button--primary{
    background-color: #ae27c9!important;
    border-color: #ae27c9!important;
  }
  .el-radio__label{padding-left:18px!important;}
  .el-dialog__footer{padding-top:0!important;}
  .el-button{
    padding:0!important;
    width:95px!important;
    height:40px!important;
    font-size:14px!important;
  }
  .el-button+.el-button{margin-left: 21px!important;}
}

.commonCancel{
  background-color:#fff!important;border-color:#91a5b0!important;color: #54565b!important;
}
.commonSave{
  background-color:#fff!important;border-color:#ae27c9!important;color: #ae27c9!important;
}
.startChoose{

  .el-dialog__header{padding:20px 25px!important;}
  .el-dialog__body{
    text-align: center;
    padding:20px 25px !important;
    height: auto!important;
  }
  .el-dialog__title {@extend .overShow;display:block;width:320px;}
  .el-dialog__footer{
    padding-top:0!important;
    padding-right: 25px!important;
  }
  .el-dialog{
    width:416px!important;
    height: 194px!important;
  }
  .el-radio{margin-right: 110px!important;}
  .el-radio:last-child{margin-right: 0!important;}
  .el-button{
    padding:0!important;
    width:95px!important;
    height:40px!important;
    font-size:14px!important;
  }
  .el-button+.el-button{margin-left: 21px!important;}
  .el-button--primary{
    background-color: #ae27c9!important;
    border-color: #ae27c9!important;
  }
  .el-radio__label{padding-left:10px!important;}

}
.startChoose3 {
  .el-radio{margin-right: 15px!important;width: 80px !important;overflow: hidden;text-overflow:ellipsis;
    white-space:nowrap;height: 30px;line-height: 30px;}
  .el-dialog{
    height: auto!important;
  }
  .el-dialog__body{text-align: left!important;}
}

// 标签页
.el-tabs__item.is-active, .el-tabs__item:hover {
  color: #a523c2!important;
}
// 单选
.el-radio__input.is-checked .el-radio__inner{
  background: #ae27c9!important;
  border-color: #ae27c9!important;
}
.el-radio__input.is-checked+.el-radio__label{color:#ae27c9!important; }
.el-radio{margin-right: 70px!important;}
body .el-table-column--selection .cell{padding-left:10px!important;}
.relateNorm {
  .search input{width:400px!important;}
  .el-button{
    padding:0!important;
    width:95px!important;
    height:40px!important;
    font-size:14px!important;
  }
  .el-button+.el-button{margin-left: 21px!important;}
  .el-button--primary{
    background-color: #ae27c9!important;
    border-color: #ae27c9!important;
  }
  .el-dialog__footer{padding-top:0!important;}
}
.cancleCategoryStyle{
  .el-dialog__header {.el-dialog__headerbtn{display: none!important;}}
}
.wrap{
  .el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: #ae27c9!important;
    border-color: #ae27c9!important;
  }
  .el-checkbox__inner:hover,.el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: #DCDFE6!important;
  }
  .el-pager li.active,.el-pager li:hover,.el-pagination .btn-prev .el-icon,
  .el-pagination .btn-prev .el-icon:hover, .el-pagination .btn-next .el-icon:hover, .el-pagination .btn-next:active
  {
    color: #ae27c9!important;
  }
}
// 滚动条样式
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #ae27c9;
}

::-webkit-scrollbar-thumb {
  background: #ae27c9;
  border-radius: 10px;
}

.homeWrap{
  //.el-form-item--small .el-form-item__content:hover,body .el-button:hover{border: 1px solid #ae27c9!important;}
  //.el-form-item--small .el-form-item__content,body .el-button{border: 1px solid #ae27c9!important;}
}

.wrapButton{
  .el-button--primary{
    background-color: #ae27c9!important;
    border-color: #ae27c9!important;
  }
  .el-button{
    padding:0!important;
    width:120px!important;
    height:40px!important;
    font-size:14px!important;
  }
  .el-button+.el-button{margin-left: 21px!important;}
}

.refresh{
  width:40px;
  height: 40px;
  border:1px solid #ae27c9;
  border-radius: 4px;
  text-align: center;
  line-height: 40px!important;
  color: #ae27c9;
  background: #f6eff7;
}

.ml-10{margin-left:10px;}
.mr-10{margin-right:10px;}
.mb-10{margin-bottom:10px;}
.mt-10{margin-top:10px;}

.ml-20{margin-left:20px;}
.mr-20{margin-right:20px;}
.mb-20{margin-bottom:20px;}
.mt-20{margin-top:20px;}

.addButton{
  background-color: #ae27c9!important;
  border-color: #ae27c9!important;
  font-size:14px!important;
  color: #fff!important;
}

.addAndEdit .item .addButton1 input,.addButton1{
  width:120px!important;
  border-color: #ae27c9!important;
}
.el-dialog-scroll-body {
  overflow-y: auto;
  padding-right: 10px;
}
.el-form-item__label {
  line-height: 40px!important;
}
.deleteDialog{
  .el-dialog__footer{
    padding-bottom: 25px!important;
  }
  .el-dialog__body{padding-top:20px!important;text-align: center;}
  .tag{
    //width:90px;
    position: relative;
    height: 40px;
    line-height: 40px;
    background-color:#fff!important;
    border-color:#ae27c9!important;
    text-align: center;
    color:#ae27c9!important;
    font-size: 14px;
    margin-right: 10px;
	  margin-bottom: 6px;
    padding-bottom: 10px;
	  padding-right: 20px;
	  width: 92px;
	  text-overflow: ellipsis;
	  overflow: hidden;
    .el-tag__close{
      background-color:#c0c4cc!important;
      color:#fff!important;
      margin-left: 10px;
      position: absolute!important;
      top: 10px;
      right: 3px;
    }
  }

	.addTag{
		//padding-left: 0;
	}

  .el-button{
	  //border:none!important;
    padding:0!important;
    width:92px!important;
    height:40px!important;
    font-size:14px!important;
  }
  .el-button+.el-button{margin-left: 21px!important;}
  .el-table {
    .el-button--text{
      width: auto!important;
      height: auto!important;
    }
  }

  .el-button--default:hover,
  .el-button--default:focus,
  .el-button--default:active {
    border-color: #DCDFE6!important;
    color: #606266!important;
    background: #fff!important;
  }
  .el-button--primary,
  .el-button--primary:hover,
  .el-button--primary:focus,
  .el-button--primary:active
  {
    background-color: #ae27c9!important;
    border-color: #ae27c9!important;
    color: #fff!important;
  }
}
.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close,
.el-message-box__headerbtn:focus .el-message-box__close,
.el-message-box__headerbtn:hover .el-message-box__close {
  color: #324157;
}
.leftContent .el-dialog__body {
  text-align: left;
}
.addAndEdit .el-dialog__body{
  padding-top:15px!important;
}
.el-upload-list__item-name {
  width: 315px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .el-button--primary {
    background-color: #ae27c9 !important;
    border-color: #ae27c9 !important;
  }

  .inputClass1 input {
    padding-left: 70px !important;
  }

  .inputClass2 {
    input{
      height: 40px!important;
      line-height: 40px!important;
      font-size: 14px;
      padding-left: 15px!important;
    }
    .el-icon-search{
      color:#84878e!important;
    }
  }
}
  .wrap {
    .el-textarea__inner {
      width: 345px !important;
      height: 60px !important;
    }

    .el-textarea__inner:focus {
      outline: none;
      border-color: #d7dae1 !important;
    }

  }

  .el-select-dropdown__item.selected {
    color: #a523c2 !important;
  }
  .el-pagination .el-input input{
    height: 30px!important;}

  body .el-tree-node .is-current {
    .el-tree-node__content .custom-tree-node{
      //background: #fff !important;
      //color: #a523c2 !important;
    }
  }

  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    background-color: none;
  }


::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  background-color:none;
}
body .el-cascader-node.in-active-path, body .el-cascader-node.is-selectable.in-checked-path, body .el-cascader-node.is-active {
  color: #ae27c9!important;
}


.shareWrap span{
  display: flex;
  align-items: center;
  justify-content: center;
}
.share{
  width:14px;
  margin-right: 10px;
}
.timeChoose .el-range-editor.el-input__inner{
  width: 280px!important;
}
.timeChoose .el-date-editor .el-range-separator{width:8%!important;line-height: 32px;}
.category-map-check-list {
  .el-checkbox{
    .el-checkbox__input {
      width: 130px !important;
    }
    .el-checkbox__input.is-checked+.el-checkbox__label {
      color: #ae27c9!important;
  }
  }
}
.right {
  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #ae27c9!important;
}
}
.category-map-check-list li {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}
.ship .el-dialog__header{padding-top: 0!important;padding-bottom: 0!important;}
.ship .el-dialog__body{padding: 20px 25px!important;}
.ship .dialog-footer button{width:95px!important;height: 40px!important;font-size:14px!important;}
.shipButton .el-button{width: 120px!important;height:40px!important;font-size:14px!important;}
.shipButton .addBtn{background-color: #f6eff7!important;color: #a523c2!important;}
.el-pagination__editor.el-input{width: 55px!important;}
.dialogSelect .el-input__inner{width:216px!important;}
.dialogSelectSpe .el-input__inner{width:160px!important;}
.dialogSelect .el-textarea__inner{width:186px!important;font-size: 14px!important;color: #606266!important;margin-right: 0px!important;}
.ship .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
  background-color: #b8bcc5!important;
  border-color: #b8bcc5!important;
}
.ship .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after{border-color:#fbfbfc!important;}
.OrderManageDetail .el-button{width: 95px!important;height:40px!important;font-size:14px!important;}
.OrderManageDetail .el-table--border th{border-right: none!important;}
.OrderManageDetail .el-table tr td[rowspan="1"]{border-right: none!important;}
.OrderManageDetail .el-table tr{line-height: normal!important;}
.OrderManageDetail .el-step.is-center .el-step__line{margin:0 auto!important;}
.OrderManageDetail  .el-step__title{font-size:14px!important;color: #a523c3!important;line-height: 25px;}
.OrderManageDetail  .el-step__title.is-process{font-size:14px!important;color: #a523c3!important;font-weight: normal!important;}
//.OrderManageDetail .el-table tr td:nth-child(1){border-right:1px solid #EBEEF5!important;}

.OrderManageDetail .el-step__icon.is-icon{
  height: 40px;
  width: 41px!important;
}

//
.OrderManageDetail  .el-step__title{
  color: #54565b!important;
}
.OrderManageDetail .is-process{
  color: #a523c3!important;
}
.OrderManageDetail .is-finish{color: #a523c3!important;}
.OrderManageDetail .is-finish{color: #a523c3!important;}
.OrderManageDetail .el-step__head .el-step__line{background: #aab9cf!important;height: 1px!important;width: 130px!important;}
.OrderManageDetail .is-finish .el-step__line{background: #a523c3!important;}
.OrderManageDetail .el-step.is-horizontal .el-step__line{top:21px!important;}

.OrderManageDetail .el-tabs__item.is-active:hover{color: #a523c2!important;}
.OrderManageDetail .el-tabs__item:hover{color: #54565b!important;}
.OrderManageDetail .el-tabs__item{color: #54565b!important;}
.OrderManageDetail .el-tabs__item.is-active{color: #a523c2!important;}

.timeline .el-timeline-item__node--normal{
  width: 6px!important;;
  height: 6px!important;
  background-color:#54565b!important;
  left: 2px!important;
}
.timeline .el-timeline-item{padding-bottom: 25px!important;}
.timeline ul li:nth-child(1) .el-timeline-item__node--normal{
  width: 14px!important;;
  height: 14px!important;
  background-color:#a523c3!important;
  left: -2px!important;
}

.el-tooltip__popper{
	max-width: 42%!important;
}
.OrderManageDetailWrap  .el-date-editor.el-input, body .el-date-editor.el-input__inner{width:345px!important;}
.table-ship .el-table td:first-of-type {
  text-align: left!important;
  white-space:wrap !important;
}
.devery_box {
  .el-checkbox__label {
    white-space: normal!important;
    overflow: hidden!important;
    vertical-align: top!important;
    width: 176px;
  }
  .el-checkbox__input {
    vertical-align: top!important;
  }
}

.homeWrap  {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;

	/* 以下两个属性目前并未支持，写在这里为了减少风险 */
	-o-user-select: none;
	user-select: none;
}
.editPage  .item input{
	width:380px!important;
	height: 40px!important;
}
.editPage  .chooseArea input{width:120px!important;}

.el-tabs__active-bar {
  background-color: #a523c3!important;
}

.mainContainer {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 10px;
  background: #fff;
}
.el-pager li.active {
  color: #a523c3!important;
}
.el-upload--picture-card {
  background: #fff!important;
  border-color: #DCDFE6!important;
}

//.contentManage{
//	body .el-dialog{
//		margin-top: 2vh!important;}
//	.el-dialog__body{padding:15px 20px !important;}
//}
//.relateNormClass body .el-dialog{
//
//}
.searchGroup .el-input__inner,.searchGroup .el-select{
	width:239px!important;
	padding-left: 10px!important;
}
.searchGroup .el-date-editor .el-range-separator{
	padding: 5px 0!important;}

.sendPage .el-dialog__body{
	padding: 0 20px!important;
}
.sendPage .el-date-editor.el-input, body .el-date-editor.el-input__inner{
	width:352px!important;
}

.sendPage .inputClass{
	width: 92px!important;
	height: 42px!important;
}
.contentManage .el-dialog__body{
	padding: 10px 20px!important;
}

.sendPage{
	.el-tabs {
		background: #fff;
	}
	.el-tabs__header {
		margin-bottom: 0!important;
	}
	.el-tabs__item {
		padding: 0 22px 0 10px!important;
		height: 50px!important;
		line-height: 50px!important;
	}
	.el-tabs__active-bar {
		width: 90px!important;
		left: -15px!important;
	}
}
.el-table .cell{
    text-overflow: initial!important;
}
.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}