<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <p>{{foo}}</p>
    <child></child>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    Vue.component('child', {
      template: '<p>{{foo}}</p>',
      data() {
        return {
          foo: '佛哦哦哦哦哦'
        }
      }
    })
    const app = new Vue({
      el: "#app",
      data: {
        foo: 'foo'
      },
    })
  </script>
</body>

</html>