.send {
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #dedede;
  width: 70%;
  .username-box{
    padding: 20px 0;
    .username{
      border: 1px solid #dedede;
      padding-left: 10px;
      height: 40px;
      height: 40px;
      width: 100%;
    }
  }
  .content{
    width: 100%;
    border: 1px solid #dedede;
    padding-left: 10px;
  }
  .btn {
    border: none;
    background-color: rgb(40, 216, 48);
    color: #fff;
    padding: 5px;
    margin: 10px 0;
  }
  .list-item{
    border-bottom: 1px solid #ccc;
  }
  .name{
    font-weight: bold;
    font-size: 20px;
  }
  .comment {
    font-size: 14px;
    padding: 10px 0;
  }
}