@font-face {
  font-family: 'iconfont';  /* Project id 2585310 */
  src: url('//at.alicdn.com/t/font_2585310_4m42g1rggol.woff2?t=1622641553950') format('woff2'),
       url('//at.alicdn.com/t/font_2585310_4m42g1rggol.woff?t=1622641553950') format('woff'),
       url('//at.alicdn.com/t/font_2585310_4m42g1rggol.ttf?t=1622641553950') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}