@font-face {
  font-family: 'iconfont';  /* Project id 2585310 */
  src: url('//at.alicdn.com/t/font_2585310_w0tcp7l76v.woff2?t=1622558842826') format('woff2'),
       url('//at.alicdn.com/t/font_2585310_w0tcp7l76v.woff?t=1622558842826') format('woff'),
       url('//at.alicdn.com/t/font_2585310_w0tcp7l76v.ttf?t=1622558842826') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}