/**
 * @description 混合样式定义
 */

 @import './variables.scss';

// 文字颜色
@mixin text_color{
    // 默认主题
    [data-theme="default"] & {
        color:$base-menu-color !important;
    }

  // 蓝色主题
  [data-theme="blue"] & {
    color:$base-menu-color !important;
  }

  // 绿色主题
  [data-theme="green"] & {
    color:$base-menu-color !important;
  }

  // 橙色主题
  [data-theme="pink"] & {
    color:$base-menu-color !important;
  }
}

// 边框颜色
@mixin hover_color{
  // 默认
  [data-theme="default"] & {
      color:$base-color-yellow !important;
  }

  // 蓝色主题
  [data-theme="blue"] & {
    color:$base-color-blue !important;
  }

  // 绿色主题
  [data-theme="green"] & {
    color:$base-color-green !important;
  }

  // 橙色主题
  [data-theme="pink"] & {
    color:$base-color-orange !important;
  }
}

// 边框颜色
@mixin border_color{
    // 默认
    [data-theme="default"] & {
        border-color:$base-color-yellow !important;
    }

  // 蓝色主题
  [data-theme="blue"] & {
    border-color:$base-color-blue !important;
  }

  // 绿色主题
  [data-theme="green"] & {
    border-color:$base-color-green !important;
  }

  // 橙色主题
  [data-theme="pink"] & {
    border-color:$base-color-orange !important;
  }
}

// 背景色
@mixin background_color{
    // 默认主题
    [data-theme="default"] & {
        background-color: $base-color-yellow !important;
      }
  // 蓝色主题
  [data-theme="blue"] & {
    background-color: $base-color-blue !important;
  }

  // 绿色主题
  [data-theme="green"] & {
    background-color:$base-color-green !important;
  }

  // 粉色主题
  [data-theme="pink"] & {
    background-color:$base-color-orange !important;
  }
}